// Oops
.oops__title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.oops__description {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.oops__list {
  margin-bottom: 20px;
}

.oops__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6px;
  border-bottom: 1px solid #2f3962;
  margin-bottom: 6px;
}

.oops__logo {
  text-decoration: none;
}

.oops__price {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.oops__price__gift {
  max-width: 16px;
  margin-right: 7px;
}

.oops__price__wrapper {
  display: flex;
  flex-direction: column;
}

.oops__price__suptext {
  color: #69a5ff;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 1.1px;
  line-height: 1.2;
}

.oops__price__value {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.oops__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.oops__info__icon {
  max-width: 16px;
  margin-right: 8px;
}

@media (max-width: 767px) {
  .oops__list {
    max-height: 280px;
    overflow-y: scroll;
  }
}
// Oops END

// Cookie
@media (max-width: 767px) {
  .bottom-cookie-accept-wrapper {
    width: 47%;
    left: 5px;
    bottom: 10px;
    border-radius: 5px;
  }

  .bottom-cookie-accept {
    padding: 0 15px;
    text-align: center;
  }

  .bottom-cookie-accept-text p {
    font-size: 12px;
  }
}
// Cookie END

// Table
table {
  width: 100%;
}

td {
  padding-bottom: 10px;
}

td.boxer_1.bmma {
  width: 150px;
}

td.boxer_2.bmma {
  width: 300px;
}

.month_name {
  padding: 15px 0;
  background: #2f3962;
  border-radius: 5px;
  margin-bottom: 15px;
}

.info {
  padding: 20px 0;
  font-weight: bold;
  background: #69a5ff;
}
// Table END

// Modal
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 3040;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

.modal__dialog {
  margin: auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: 100%;
  transition: 0.3s;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  will-change: opacity, transform;
}

.modal__content {
  margin: auto;
  position: relative;
  background-color: #242d4f;
  max-width: 100%;
  border-radius: 4px;
  padding: 25px 20px 45px;
  width: 550px;
  outline: 0;
}

.modal__close {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 100;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #838fc0;
  font-size: 18px;
  padding: 0;
}
