.app__section {
  margin-bottom: 25px;
  background: #242c4f;
  backdrop-filter: blur(20px);
  border-radius: 10px;

  &--special {
    background: none;
    border-radius: none;
  }

  .matter__text {
    margin-bottom: 26px;

    &--nom {
      margin-bottom: 0;
    }
  }
}

.app__section__wrapper {
  padding: 24px 19px;
}

.app__section__flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.app__section__col {
  max-width: 564px;
  width: 100%;
  margin-right: 96px;
}

.app__section__suptitle {
  color: $blue;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  margin-bottom: 10px;
}

.app__intro {
  background: rgba(36, 44, 79, 0.85);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 0;
}

.app__intro__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.app__intro__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
}

.app__intro__body {
  padding: 16px 21.5px;
}

.app__tags {
  margin-bottom: 28px;
}

.app__tags__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app__tags__item {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background: rgba(131, 143, 192, 0.1);
  border: 1px solid #838fc0;
  box-sizing: border-box;
  border-radius: 100px;
  transition: all 0.2s linear;

  &:hover {
    background: none;
  }
}

.app__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.app__stats__right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
}

.app__stats__circle {
  background: $blue_dark;
  border-radius: 50%;
  width: 55.07px;
  height: 55.07px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 4px;
}

.app__stats__value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.app__stats__text {
  font-size: 13px;
  line-height: 170%;
  color: #838fc0;
}

.app__stats__line {
  background: rgba(255, 255, 255, 0.2);
  height: 88px;
  width: 1px;
}

.app__stats__left {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 642px;
  width: 100%;
}

.app__progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 266px;
  margin-bottom: 16px;

  &:nth-last-child(2),
  &:last-child {
    margin-bottom: 0;
  }

  &--big {
    width: 300px;
  }
}

.app__progress__text {
  font-size: 15px;
  line-height: 170%;
  white-space: nowrap;
}

.app__progress__line {
  background: rgba(131, 143, 192, 0.2);
  border-radius: 5px;
  position: relative;
  width: 162px;
  height: 5px;
}

.app__progress__gradient {
  display: inline-block;
  position: absolute;
  height: 5px;
  border-radius: 5px;
  background: linear-gradient(90deg, #8226b7 0%, #00a2b5 100%),
    linear-gradient(90deg, #01c3da 0%, #8226b7 100%),
    linear-gradient(90deg, #75ccd5 0%, #2c319e 100%), #0d0f22;
  left: 0;
  top: 0;
  z-index: 2;
  transition: all 0.2s linear;
}

.app__intro__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app__intro__list {
  width: 359px;
  background: rgba(131, 143, 192, 0.1);
  border: 1px solid #838fc0;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 21px;
}

.app__intro__list__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.app__intro__list__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.2px;
}

.app__intro__list__icon {
  margin-right: 10px;
}

.app__intro__list__right {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.2px;
}

.app__intro__info {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 18px 21.5px;
}

.app__intro__info__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app__intro__info__line {
  display: inline-block;
  width: 1px;
  height: 51px;
  background: rgba(255, 255, 255, 0.2);
}

.app__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border-radius: 0 0 10px 10px;
  background: $purple;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  &:hover {
    background: $purple_hover;
  }
}

.app__benefits__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 14px;
}

.app__benefits__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.app__benefits__col {
  max-width: 49%;
  width: 100%;
}

.app__benefits__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #4fad50;
  margin-right: 15px;

  &--dislike {
    background: #ff4040;
  }
}

.app__benefits__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
}

.app__benefits__list {
  background: rgba(131, 143, 192, 0.1);
  border: 1px solid #838fc0;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 35px 14px;

  &--gradient {
    background: linear-gradient(270.43deg, #00a2b5 0%, #8226b7 100%),
      linear-gradient(270.43deg, #00a2b5 0%, #8226b7 100%), #8226b7;
    border: none;
  }
}

.app__benefits__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 15px;
  line-height: 140%;
  margin-bottom: 16px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    margin-top: 4px;
    content: "";
    display: inline-block;
    background: $blue;
    border-radius: 3px;
    width: 10px;
    height: 10px;
    min-width: 10px;
    min-height: 10px;
    margin-right: 8px;
  }
}

.app__hints {
  backdrop-filter: blur(20px);
  border-radius: 10px;
  background: $blue_dark;
  padding: 20px 19px 32px;
  margin-bottom: 20px;
}

.app__hints__title {
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.app__hints__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.app__hints__link {
  display: inline-block;
  font-size: 15px;
  line-height: 140%;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  transition: all 0.2s linear;

  &:hover {
    border-color: transparent;
  }
}

.app__section__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
  margin-bottom: 37px;
}

.app__description {
  padding-left: 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 10px;
}

.app__section__list {
}

.app__section__list__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 15px;
  line-height: 140%;
  margin-bottom: 14px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    margin-top: 6px;
    content: "";
    display: inline-block;
    background: #69a5ff;
    border-radius: 3px;
    width: 10px;
    height: 10px;
    min-width: 10px;
    min-height: 10px;
    margin-right: 8px;
  }
}

.app__section__text {
  margin-top: 28px;
  font-size: 15px;
  line-height: 21px;

  &--mb {
    margin-bottom: 26px;
  }
}

.app__section__alert {
  background: rgba(131, 143, 192, 0.1);
  border: 1px solid #838fc0;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 15px;
  line-height: 140%;
  padding: 20px 21px;
  margin-top: 35px;
  margin-bottom: 11px;

  strong {
    font-size: 16px;
  }
}

.app__partners {
  margin-bottom: 42px;
}

.app__partners__head {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 21px;
}

.app__partners__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
}

.app__partners__body {
  padding: 31px 21px;
}

.app__partners__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app__partners__item {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  line-height: 140%;
  color: #fff;
  transition: all 0.2s linear;

  &:hover {
    color: $blue_hover;
  }
}

.app__partners__img__wrapper {
  width: 259.12px;
  height: 172.74px;
  margin-bottom: 13px;
}

.app__partners__img {
  display: block;
  object-fit: scale-down;
  border-radius: 10px;
  width: 259.12px;
  height: 172.74px;
  max-width: 259.12px;
  max-height: 172.74px;
}

.app__intro__phones__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

@media (max-width: $tablet) {
  .app__section {
    margin: 0 13.5px;
    margin-bottom: 20px;

    &--special {
      .app__section__wrapper {
        padding: 0;
      }
    }

    .matter__text {
      margin-bottom: 18px;
    }
  }

  .app__intro__header {
    flex-direction: column;
    align-items: flex-start;
    padding: 11px 12px;
  }

  .app__intro__logo {
    width: 106px;
    margin-left: -12px;
  }

  .app__intro__title {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    margin-top: 11px;
    text-align: left;
  }

  .app__intro__body {
    padding: 15px 13.5px 23px;
    padding-right: 0;
    padding-left: 0;
    // padding-bottom: 0;
    position: relative;
  }

  .app__tags__block {
    position: relative;
  }

  .app__tags {
    overflow-x: scroll;
    position: relative;
    margin-bottom: 0;
    padding-left: 13.5px;
  }

  .app__tags__blure {
    position: absolute;
    right: 0;
    top: 0px;
    height: 38px;
    width: 27px;
    background: linear-gradient(270deg, #203d5e 0%, rgba(32, 60, 94, 0) 100%);
  }

  .app__tags__item {
    white-space: nowrap;
    margin-right: 11px;
  }

  .app__stats {
    flex-direction: column;
    margin-bottom: 16px;
  }

  .app__stats__line {
    display: none;
  }

  .app__stats__right {
    width: 100%;
    flex-direction: row;
    margin-bottom: 14px;
  }

  .app__stats__circle {
    margin-bottom: 0;
    margin-right: 15px;
  }

  .app__progress {
    width: 100%;

    &:nth-child(3) {
      margin-bottom: 16px;
    }
  }

  .app__stats__left {
    padding: 0 13.5px;
  }

  .app__intro__description {
    flex-direction: column;
  }

  .app__intro__list {
    max-width: 320px;
    width: 100%;
    margin: 0 13.5px;
    padding: 15px 8px;
    margin-bottom: 20px;
  }

  .app__section__wrapper {
    padding: 16px 13.5px;
  }

  .app__benefits__wrapper {
    flex-direction: column;
  }

  .app__benefits__col {
    max-width: 100%;
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .app__benefits__list {
    padding: 13px;
  }

  .app__benefits__item {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 10px;
  }

  .app__benefits__header {
    margin-bottom: 6px;
  }

  .app__section__wrapper {
  }

  .app__hints__link {
    border: none;
    text-decoration: underline;
  }

  .app__hints {
    padding: 17px 13px;
  }

  .app__hints__title {
    margin-bottom: 10px;
  }

  .app__hints__item {
    margin-bottom: 14px;
  }

  .app__section__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 12px;
  }

  .app__section__flex {
    flex-direction: column;
    align-items: center;
  }

  .app__section__col {
    order: 2;
    margin-right: 0;
    max-width: 100%;
  }

  .app__section__img {
    margin-bottom: 25px;
  }

  .app__section__list__item {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 8px;
  }

  .app__section__text {
    font-size: 14px;
    line-height: 140%;
    margin-top: 25px;
  }

  .app__section__alert {
    margin-top: 25px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 140%;
    padding: 12px 4px 12px 15px;

    strong {
      font-size: 15px;
    }
  }

  .app__section__suptitle {
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
  }

  .app__description {
    font-size: 15px;
    line-height: 140%;
  }

  .app__partners {
    position: relative;
  }

  .app__parners__fade {
    position: absolute;
    top: 50%;
    right: 0;
    width: 26.57px;
    height: 100%;
    transform: translate(0, -50%);
    background: linear-gradient(270deg, #242c4f 0%, rgba(36, 44, 79, 0) 100%);
  }

  .app__partners__head {
    padding: 21px 20px 10px;
  }

  .app__partners__title {
    font-size: 20px;
    line-height: 140%;
  }

  .app__partners__body {
    padding: 0;
  }

  .app__partners__inner {
    position: relative;
  }

  .app__partners__list__wrapper {
    overflow-x: scroll;
    padding: 24px 19px;
    padding-bottom: 24px;
  }

  .app__partners__list {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .app__partners__item {
    margin-right: 12px;
  }

  .app__partners__img__wrapper {
    width: 210.46px;
    height: 140.31px;
    margin-bottom: 10px;
  }

  .app__partners__img {
    max-width: 210.46px;
    width: 210.46px;
    height: 140.31px;
  }

  .app__partners__item__title {
    font-size: 14px;
    line-height: 140%;
  }

  .app__intro__info {
    margin-top: 25px;
  }
}
@media (max-width: $mobile) {
  .app__intro__phones__block {
    position: relative;
    width: 100%;
  }

  .app__intro__phones {
    padding-left: 13.5px;
    overflow-x: scroll;

    position: relative;
  }

  .app__intro__phones__wrapper {
    gap: 20px;
    width: 500px;
    justify-content: flex-start;

    picture {
      display: block;
    }
  }

  .app__intro__phones__item {
    display: block;
  }

  .app__intro__info {
    margin-top: 0;
    padding: 15px 13.5px;
    // padding-bottom: 0;
    overflow-x: scroll;

    .infopage__banner__number {
      margin-bottom: 0;
      // margin-right: 20px;

      span {
        white-space: nowrap;
      }
    }
  }

  .app__intro__info__wrapper {
    width: 600px;
  }

  .app__intro__info__line {
    display: none;
  }

  .app__intro__phones__block {
    position: relative;
  }

  .app__intro__phones__fade {
    position: absolute;
    height: 100%;
    width: 11px;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    background: linear-gradient(270deg, #203d5e 0%, rgba(32, 60, 94, 0) 100%);
  }
}
