// Rating
.rating__nav {
  margin-bottom: 19px;
}

.rating__nav__inner {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.bonus__sort__item {
  &--hidden {
    display: none;
  }
}

.rating__nav__sort__block {
  max-width: 88%;
  width: 100%;
  padding: 5px 12px;

  background: #242c4f;
  border-radius: 10px;
}

.rating__nav__sort {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rating__nav__sort__link {
  font-size: 13px;
  line-height: 140%;

  position: relative;

  display: inline-block;

  padding: 10px;

  transition: all 0.2s linear;
  text-decoration: none;

  border-radius: 4px;
  color: #fff;

  &:before {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;

    content: "";
    transition: all 0.2s linear;

    opacity: 0;
    background: #69a5ff;
    border-radius: 0px 0px 10px 10px;
  }

  &:hover,
  &--active {
    background: #1d2442;
    color: #94bfff;

    &::before {
      opacity: 1;
    }
  }
}

.rating__nav__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  padding: 15px;

  background: #242c4f;
  border-radius: 10px;
}

.rating__nav__tabs__item {
  line-height: 0;

  display: inline-block;

  text-decoration: none;

  span {
    display: inline-block;

    transition: all 0.2s linear;
  }

  &--1 {
    span {
      width: 24px;
      height: 20px;

      background: url("../images/dest/rating/tab__1.svg") no-repeat center;

      &:hover {
        background: url("../images/dest/rating/tab__1--hover.svg") no-repeat
          center;
      }
    }
  }

  &--2 {
    span {
      width: 18px;
      height: 17px;

      background: url("../images/dest/rating/tab__2.svg") no-repeat center;

      &:hover {
        background: url("../images/dest/rating/tab__2--hover.svg") no-repeat
          center;
      }
    }
  }
}

.rating__nav__tabs__item--1.rating__nav__tabs__item--active {
  span {
    background: url("../images/dest/rating/tab__1--hover.svg") no-repeat center;
  }
}

.rating__nav__tabs__item--2.rating__nav__tabs__item--active {
  span {
    background: url("../images/dest/rating/tab__2--hover.svg") no-repeat center;
  }
}

.rating__sort {
  .bonus__sort__wrapper {
    justify-content: flex-start;
    gap: 0 5px;
  }

  .bonus__sort__item {
    width: auto;
    min-width: fit-content;
    height: 34px;
    padding: 0px 10px;

    &:hover {
      background: #9a6aff;
      border-color: #9a6aff;
      color: #fff;

      .bonus__sort__icon {
        background: url("../images/dest/rating/dropdown__arrow-white.svg")
          no-repeat center;
      }
    }
  }

  .bonus__sort__icon {
    display: inline-block;

    width: 14px;
    height: 8px;
    margin-left: 6px;

    transition: all 0.2s linear;

    background: url("../images/dest/rating/dropdown__arrow.svg") no-repeat
      center;
  }
}

.rating__table {
  border-bottom: none;

  .best__table__head {
    height: 33px;

    text-align: center;

    background: #1d2442;
    border-radius: 10px 10px 0px 0px;
  }

  .best__table__line {
    background: #242c4f;

    &:nth-child(even) {
      background: #1d2442;
    }
  }

  .best__table__item {
    &--gift {
      .best__table__item__wrapper {
        height: 100%;
        width: 100%;
      }
    }

    &--obzor {
      .best__table__item__wrapper {
        width: 100%;
      }
    }
  }

  .best__table__line__wrapper {
    grid-template-columns: 23% 14.6% 15.6% 20% 26.8%;
  }

  .bookmaker__table__bonus {
    height: 100%;
  }

  .best__table__obzor {
    justify-content: center;
    gap: 0 20px;
  }
}

.rating__logo__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rating__table__number {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  display: inline-block;

  margin-right: 15px;

  letter-spacing: -0.2px;

  color: #838fc0;
}

.rating__table__bonus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  text-decoration: none;
  transition: all 0.2s linear;

  background: rgba($color: #69a5ff, $alpha: 0.1);
  color: #fff;

  &:hover {
    background: rgba($color: #69a5ff, $alpha: 0.2);
  }
}

.rating__table__bonus__top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rating__table__bonus__gift {
  margin-right: 9px;
}

.rating__table__bonus__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 28px;

  letter-spacing: -0.2px;
  text-align: center;

  color: #00a2b5;
}

.rating__recall__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
}

.rating__recall__item {
  font-size: 15px;
  line-height: 18px;

  display: inline-block;

  padding: 5px 8px;

  text-align: center;

  border: 1px solid #69a5ff;
  box-sizing: border-box;
  border-radius: 50px;

  &--posotive {
    color: #5dbe50;
  }

  &--negative {
    padding: 5px 12px;

    color: #ff3333;
  }
}

.rating__nav__sort__dropdown {
  font-size: 13px;
  line-height: 140%;

  display: none;

  width: fit-content;
  min-width: 150px;
  max-width: 200px;
  margin-bottom: 0;

  background: #1d2442;
  border-color: #1d2442;
  border-radius: 10px;

  &:hover {
    background: #94bfff;
    border-color: #94bfff;
    color: #fff;

    .bonus__sort__icon {
      background: url("../images/dest/rating/dropdown__arrow-white.svg")
        no-repeat center;
    }
  }

  .bonus__sort__icon {
    display: inline-block;

    width: 14px;
    height: 8px;
    min-width: 14px;
    min-height: 8px;
    margin-left: 6px;

    transition: all 0.2s linear;

    background: url("../images/dest/rating/dropdown__arrow-white.svg") no-repeat
      center;
  }

  .bonus__sort__menu__item {
    padding-left: 2px;
    padding-right: 2px;
  }
}
// Rating END

// Brikcs
.bricks {
  margin-bottom: 26px;
  padding: 16px 11px;

  background: #242c4f;
  border: 1px solid #1d2442;
  border-radius: 10px;
  box-sizing: border-box;
}

.bricks__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8.5px 5.7px;
}

.bricks__item {
  font-size: 14px;
  line-height: 16px;

  display: inline-block;

  padding: 4px 8px;

  text-decoration: none;
  transition: all 0.2s linear;

  background: #1d2442;
  border-radius: 4px;
  color: #fff;

  &:hover {
    background: #94bfff;
  }
}
// Briks END

// Office
.office__item {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.office__item__left {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 185px;

  padding-top: 22px;
  padding-bottom: 13px;

  background: linear-gradient(270.43deg, #00a2b5 0%, #8226b7 100%),
    linear-gradient(270.43deg, #00a2b5 0%, #8226b7 100%), #8226b7;
  border-radius: 10px;
  box-sizing: border-box;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    content: "";

    background: rgba(36, 44, 79, 0.85);
    border-radius: 10px;
    box-sizing: border-box;
  }
}

.office__item__logo {
  display: block;

  margin: 0 auto;
  margin-bottom: 30px;
  width: fit-content;

  text-decoration: none;
  text-align: center;

  &:hover {
    .office__item__logo__img {
      filter: none;
    }
  }
}

.office__item__logo__img {
  transition: all 0.2s linear;

  filter: drop-shadow(0px 4px 20px #69a5ff);
}

.office__item__description__item {
  font-size: 14px;
  line-height: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 15px;
  height: 35px;

  &--bonus {
    font-weight: 500;

    letter-spacing: -0.2px;
    background: rgba($color: #69a5ff, $alpha: 0.1);
  }
}

.office__item__description__bonus {
  font-size: 16px;
  line-height: 28px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  text-decoration: none;
  transition: all 0.2s linear;

  color: #fff;

  img {
    margin-right: 5px;
  }

  &:hover {
    color: #69a5ff;
  }
}

.office__item__description__apps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 5px;
}

.office__item__description__app {
  display: inline-block;

  transition: all 0.2s linear;

  span {
    display: inline-block;

    width: 20px;
    height: 20px;
  }

  &--apple {
    span {
      background: url("../images/dest/rating/apple.svg") no-repeat center;
    }
  }

  &--play {
    span {
      background: url("../images/dest/rating/play.svg") no-repeat center;
    }
  }

  &:hover {
    opacity: 0.7;
  }
}

.office__item__description__rating {
  position: relative;

  .best__table__rating__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
  }
}

.office__item__reviews {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 10px;
  padding-top: 13px;

  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.office__item__reviews__text {
  font-size: 13px;
  line-height: 15px;

  display: inline-block;

  margin-right: 10px;
}

.office__item__reviews__values {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 5px;
}

.office__item__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 684px;
  width: 100%;
}

.office__item__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 14px 20px;
  width: 100%;
  height: 100%;

  background: #242c4f;
  border-radius: 10px 10px 0 0;
}

.office__item__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;

  margin-bottom: 11px;
}

.office__item__properties {
  font-size: 14px;
  line-height: 140%;

  padding: 6px 15px;
  margin-bottom: 12px;
  width: fit-content;

  background: rgba(131, 143, 192, 0.1);
  border: 1px solid #838fc0;
  box-sizing: border-box;
  border-radius: 10px;
  color: #fff;
}

.office__item__properties__line {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 5px;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.office__payments__title {
  font-size: 14px;
  line-height: 140%;

  margin-bottom: 7px;
}

.office__payments__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.office__payments__slider {
  max-width: 295px;
  width: 100%;
  margin: 0 5px;

  .glider-track {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.office__payments__item {
  width: fit-content !important;
  min-width: fit-content !important;
}

.office__payments__slider__btn {
  line-height: 0;

  cursor: pointer;

  background: none;
  border: none;
  span {
    display: inline-block;

    width: 8px;
    height: 14px;
    min-width: 8px;
    min-height: 14px;

    transition: all 0.2s linear;

    background: url("../images/dest/rating/slider__arrow.svg") no-repeat center;
  }

  &:hover {
    span {
      background: url("../images/dest/rating/slider__arrow--hover.svg")
        no-repeat center;
    }
  }

  &--next {
    transform: rotate(-180deg);
  }
}

.office__item__content__right {
  max-width: 287px;
  width: 100%;

  .office__item__properties {
    width: 100%;
  }
}

.office__item__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.office__item__btn {
  width: 100%;
  max-width: 130px;

  text-align: center;
}

.office__item__registration {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  width: 100%;
  height: 45px;

  text-align: center;

  border-radius: 0px 0px 10px 10px;
}
// Office END

@media (max-width: $tablet) {
  .pm-14 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .mm-14 {
    margin-left: 14px;
    margin-right: 14px;
  }

  // Rating
  .rating__nav__sort__block {
    max-width: 72%;
  }

  .rating__nav__sort__dropdown {
    display: flex;
  }

  .rating__nav__sort {
    display: none;
  }

  .rating__table {
    .best__table__head__item {
      color: #fff;
    }

    .best__table__line__wrapper {
      grid-template-columns: 27.5% 18% 18% 36.5%;
    }

    .bookmaker__table__bookmeker {
      img {
        display: block;
      }
    }

    .best__table__obzor {
      gap: 0 10px;
    }

    .obzor__btn {
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;

      padding: 0;

      background: none;

      &:hover {
        background: none;
      }
    }
  }

  .rating__logo__item {
    padding-left: 13px;
  }

  .rating__table__number {
    display: none;
  }

  .rating__table__bonus {
    background: none;
  }

  .rating__table__bonus__gift {
    display: none;
  }

  .rating__table__bonus__price {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;

    letter-spacing: -0.2px;
  }

  .rating__table__bonus__text {
    display: none;
  }

  .rating__recall__wrapper {
    gap: 0;
  }

  .rating__recall__item {
    font-size: 14px;
    line-height: 16px;

    padding: 0;

    border: none;
  }
  // Rating END

  // Office
  .office__item {
    flex-direction: column;
    align-items: center;

    background: #242c4f;
    border-radius: 10px;
  }

  .office__item__left {
    max-width: 100%;
  }

  .office__item__right {
    max-width: 100%;
  }

  .office__item__logo {
    margin-bottom: 22px;
  }

  .office__item__description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px 0;
  }

  .office__item__description__item {
    width: 50%;
    height: auto;

    &--bonus {
      order: 3;

      background: none;
    }

    &--rating {
      order: 4;
    }
  }

  .office__item__reviews {
    margin-top: 10px;
    padding-top: 10px;

    .rating__recall__item {
      padding: 5px 8px;

      border: 1px solid #69a5ff;
    }
  }

  .office__item__content {
    flex-direction: column;

    padding: 11px 13px 17px;
  }

  .office__item__content__left {
    width: 100%;
  }

  .office__item__properties {
    width: 100%;
    margin-bottom: 16px;
  }

  .office__item__content__right {
    max-width: 100%;
  }

  .office__item__btns {
    margin-bottom: 23px;
  }

  .office__item__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 35px;
    width: 145px;
  }

  .office__payments {
    &.md {
      display: block;
    }
  }

  .office__item__registration {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .office__payments__slider {
    &::-webkit-scrollbar {
      width: 0;
    }
    .glider-track {
      gap: 14px;
    }
  }

  .office__payments__wrapper {
    justify-content: center;
  }

  .office__payments__slider {
    max-width: 258px;
  }
  // Office END
}

@media (max-width: $mobile) {
  // Rating
  .rating__sort {
    position: relative;

    padding-left: 0;
    margin-left: 14px;

    &::before {
      position: absolute;
      top: -5px;
      right: 0;
      z-index: 5;

      width: 35px;
      height: 45px;

      content: "";

      background: linear-gradient(
        270deg,
        #1b213b 0%,
        #1b213b 54.33%,
        rgba(27, 33, 59, 0) 95.27%
      );
    }
    .bonus__sort__wrapper {
      flex-wrap: nowrap;
      gap: 0;
    }

    .bonus__sort__item {
      margin-right: 10px;
    }
  }

  .rating__sort__inner {
    overflow-y: hidden;
    overflow-x: scroll;

    padding-bottom: 11px;

    &::-webkit-scrollbar {
      width: 10px;
      height: 3px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(131, 143, 192, 0.2);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #69a5ff;
      border-radius: 10px;
      border: none;
    }
  }

  .rating__table {
    .best__table__head__item {
      &:first-child {
        padding-left: 13px;

        text-align: left;
      }

      &:last-child {
        padding-right: 13px;

        text-align: right;
      }
    }
  }
  // Rating END
}

@media (max-width: $mobile-sm) {
  .rating__nav__sort__block {
    max-width: 65%;
  }

  .rating__table__bonus__price {
    font-size: 13px;
  }

  .rating__table {
    .best__table__obzor {
      gap: 5px;
    }
  }

  // Office
  .office__item__description__item {
    font-size: 13px;

    padding: 0 7px;
  }
  // Office END
}
