.nav__menu__item {
  font-size: 14px;
  line-height: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 36px;
  padding: 0 14px;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background: #242c4f;
  border-bottom: 1px solid transparent;
}
.nav__menu__item:hover {
  background: #2f3962;
}
.nav__menu__item:hover .nav__mobile__item__icon path {
  fill: #fff;
}
.nav__menu__item:hover .nav__mobile__item__btn path {
  fill: #fff;
}
.nav__menu__item:hover .nav__mobile__item__btn circle {
  fill: #fff;
}
.nav__menu__item::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  content: "";
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0;
  background: #69a5ff;
  border-radius: 0 10px 10px 0;
}
.nav__menu__item--active {
  background: #1b213b;
  border-color: rgba(131, 143, 192, 0.1);
}
.nav__menu__item--active::before {
  opacity: 1;
}
.nav__menu__item--active .nav__mobile__item__btn {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.nav__menu__item--active .nav__mobile__item__btn--dots {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.nav__menu__item--active .nav__mobile__item__btn path {
  fill: #fff;
}
.nav__menu__item--active .nav__mobile__item__btn circle {
  fill: #fff;
}
.nav__menu__item--active ~ .nav__menu__ul__drop {
  display: block;
}
.nav__menu__item--active .nav__mobile__item__icon path {
  fill: #fff;
}
.nav__menu__item--special {
  height: 40px !important;
  padding-left: 35px;
}
.nav__mobile__item__btn {
  line-height: 0;
  display: inline-block;
  padding: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: 0 0;
  border: none;
}
.nav__mobile__item__btn path {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.nav__mobile__item__btn circle {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.nav__menu__ul__drop {
  display: none;
}
.nav__menu__ul__drop .nav__menu__item {
  height: 29px;
  background: #1d2442;
}
.nav__menu__ul__drop .nav__menu__item:hover {
  background: #2f3962;
}
.nav__menu__ul__drop .nav__menu__ul__drop .nav__menu__item {
  padding-left: 24px;
  background: #242a47;
}
.nav__menu__ul__drop .nav__menu__ul__drop .nav__menu__item:hover {
  background: #2f3962;
}
.nav__menu__item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.nav__mobile__item__icon {
  margin-right: 15px;
}
.nav__mobile__item__icon path {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
